*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	/*width: 1920px;*/
	background-color: #ffffff;
	/*padding: 40px 360px;*/
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-link{
	align-content: space-between;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #95e1d3;
	text-transform: uppercase;
}
.nav-link:hover{
	color: #f38181;
	border-bottom: 2px solid #f38181;
}
.title{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-align: center;
	padding-bottom: 22px;
	color: #333333;
}
.sub-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
}