*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.header-top{
	height: 92px;
	background: #ffffff;
	padding-top: 10px;
}

.logo-img{
	position: relative;
	top: 25px;
	left: 220px;
}
.nav{
	text-align: center;
	margin-left: 650px;
}

.nav-item{
	display: inline-block;
	position: relative;
}

.nav-link{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0f0101;
	text-transform: uppercase;
	margin-left: 40px;
}

.nav-link:hover{
	color: #39c5a9;
}

.header-bottom{
	height: 540px;
	background-image: url("slide4.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.header-bottom:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('slide4.png');;
	background-repeat: no-repeat;
	background-size: contain;
}
.button1, .button2{
	display: inline-block;
	position: absolute;
	height: 75px;
	width: 75px;
	background: rgb(26, 188, 156);
	font-size: 40px;
	color: #ffffff;
	padding-top: 10px;
	text-align: center;
}
.button1:hover, .button2:hover{
	background: rgba(85, 166, 144, 0.4)
}

.button1{
	bottom: 430px;
	right: 1120px;
}
.button2{
	bottom: 430px;
	right: 250px;
}

.button1:before{
	content: '<';
}
.button2:after{
	content: '>';
}


.title{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	vertical-align: center;
	margin-top: 170px;

}
.sub-title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: center;
	margin-top: 35px;
	margin-left: 380px;
}
.main{
	height: 680px;
	background: #e9f0fd;
	padding-top: 100px;
}
.footer{
	height: 88px;
	background: #323232;
	padding-top: 40px;
}
.textcr{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #fefefe;
	text-align: center;
}
.othercolor{
	color: #46bfa9;
}

.collections{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #515151;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.bord{
	height: 10px;
	width: 160px;
	position: absolute;
	background: #1abc9c;
	top: auto;
	left: 44.5%;
}

.buy1, .buy2, .buy3, .buy4{
	display: inline-block;
	height: 320px;
	width: 255px;
	margin-top: 80px;
}

.buy1{
	background-image: url("1man.png");
	margin-left: 140px;
}
.buy2{
	background-image: url("2wom.png");
	margin-left: 25px;
}
.buy3{
	background-image: url("3man.png");
	margin-left: 25px;
}
.buy4{
	background-image: url("4wom.png");
	margin-left: 25px;
}

.buy1:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('1man.png');
}
.buy2:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('2wom.png');
}
.buy3:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('3man.png');
}
.buy4:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('4wom.png');
}


