*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}


.header-top{
	height: 92px;
	min-width: 1000px;
	background: #ffffff;
	padding-top: 10px;
}
.logo-img{
	position: relative;
	top: 25px;
	left: 220px;
}
.nav{
	text-align: center;
	margin-left: 600px;
}
.nav-item{
	display: inline-block;
	position: relative;
}
.nav-link{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0f0101;
	text-transform: uppercase;
	margin-left: 40px;
}
.nav-link:hover{
	color: #39c5a9;
}
.header-bottom{
	height: 540px;
	min-width: 1000px;
	background-image: url("slide4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.header-bottom:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('slide4.png');;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.button1, .button2{
	display: inline-block;
	position: absolute;
	height: 75px;
	width: 75px;
	background: rgb(26, 188, 156);
	font-size: 40px;
	color: #ffffff;
	padding-top: 10px;
	text-align: center;
}
.button1:hover, .button2:hover{
	background: rgba(85, 166, 144, 0.4)
}
.button1{
	bottom: 430px;
	right: 1120px;
}
.button2{
	bottom: 430px;
	right: 250px;
}
.button1:before{
	content: '<';
}
.button2:after{
	content: '>';
}
.title{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	vertical-align: center;
	margin-top: 170px;
}
.sub-title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: center;
	margin-top: 35px;
	margin-left: 380px;
}
.main{
	height: 680px;
	min-width: 1000px;
	background: #e9f0fd;
	padding-top: 100px;
}
.footer{
	height: 88px;
	min-width: 1000px;
	background: #323232;
	padding-top: 40px;
}
.textcr{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #fefefe;
	text-align: center;
}
.othercolor{
	color: #46bfa9;
}
.collections{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #515151;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.bord{
	height: 10px;
	width: 160px;
	position: absolute;
	background: #1abc9c;
	top: auto;
	left: 44.5%;
}
.buy1, .buy2, .buy3, .buy4{
	display: inline-block;
	height: 320px;
	width: 255px;
	margin-top: 80px;
}
.buy1{
	background-image: url("1man.png");
	margin-left: 155px;
}
.buy2{
	background-image: url("2wom.png");
	margin-left: 25px;
}
.buy3{
	background-image: url("3man.png");
	margin-left: 25px;
}
.buy4{
	background-image: url("4wom.png");
	margin-left: 25px;
}
.buy1:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('1man.png');
}
.buy2:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('2wom.png');
}
.buy3:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('3man.png');
}
.buy4:hover{
	background-image:linear-gradient(rgba(113, 113, 113, 0.58), rgba(95, 95, 95, 0.78)),url('4wom.png');
}
.stuff{
	display: inline-block;
	position: absolute;
	height: 40px;
	width: 200px;
	background: #323232;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 12px;
	padding-left: 10px;
	top: 146.2%
}
.price{
	display: inline-block;
	position: absolute;
	height: 40px;
	width: 55px;
	background: #8c8c8c;
	color: #ffffff;
	font-weight: 400;
	padding-top: 12px;
	padding-left: 15px;
	top: 146.2%
}
.price1{
	left: 24.68%;
}
.price2{
	left: 44.4%;
}
.price3{
	left: 64.1%;
}
.price4{
	left: 83.8%;
}
.buy1:hover > .stuff1{
	background: #1abc9c;
}
.buy1:hover > .price1{
	background: #7fd9c7;
}
.buy2:hover > .stuff2{
	background: #1abc9c;
}
.buy2:hover > .price2{
	background: #7fd9c7;
}
.buy3:hover > .stuff3{
	background: #1abc9c;
}
.buy3:hover > .price3{
	background: #7fd9c7;
}
.buy4:hover > .stuff4{
	background: #1abc9c;
}
.buy4:hover > .price4{
	background: #7fd9c7;
}
.item{
	display: none;
}

.heart{
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;
	background-image: url("heart.png");
	border: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	top: 122%;
}
.arrow{
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;
	background-image: url("arrow.png");
	border: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	top: 122%;
}
.clock{
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;
	background-image: url("clock.png");
	border: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	top: 122%;
}
.cart{
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	padding-left: 20px;
	background-image: url("pushcart.png");
	background-color: #323232;
	border: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-position: left;
	top: 130%;
	padding-top: 17px;
}
.cart-text{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
}
.buy1:hover > .item{
	display: inline;
}
.buy2:hover > .item{
	display: inline;
}
.buy3:hover > .item{
	display: inline;
}
.buy4:hover > .item{
	display: inline;
}

.cart1{
	left: 13.8%;
}
.heart1{
	left: 13.8%;
}
.arrow1{
	left: 17.55%;
}
.clock1{
	left: 21.33%;
}
.cart2{
	left: 33.8%;
}
.heart2{
	left: 33.8%;
}
.arrow2{
	left: 37.55%;
}
.clock2{
	left: 41.33%;
}
.cart3{
	left: 53.8%;
}
.heart3{
	left: 53.8%;
}
.arrow3{
	left: 57.55%;
}
.clock3{
	left: 61.33%;
}
.cart4{
	left: 73.8%;
}
.heart4{
	left: 73.8%;
}
.arrow4{
	left: 77.55%;
}
.clock4{
	left: 81.33%;
}
.item1:hover > .clock1{
	background: #1abc9c;
	background-image: url("clock.png");
	background-repeat: no-repeat;
	background-position: center;
}
.item1:hover > .heart1{
	background: #1abc9c;
	background-image: url("heart.png");
	background-repeat: no-repeat;
	background-position: center;
}
.item1:hover > .arrow1{
	background: #1abc9c;
	background-image: url("arrow.png");
	background-repeat: no-repeat;
	background-position: center;
}







